.wrapper-padding-lr {
  text-align: center;
  font-size: 0.9rem;
  overflow: hidden;
}

.booking-content {
  margin-bottom: 80%;
}

.btn-outline-primary {
  color: #7bd6ff;
  border: 2px solid #7bd6ff;
  width: 100%;
  font-weight: bold;
}

.select-instruction {
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.calendar {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  position: sticky;
  overscroll-behavior: contain;
  max-width: 100%;
  min-width: 100%;
  margin-top: 2%;
}

#year {
  margin-left: 2%;
}

.weekdays {
  color: #7bd6ff;
}

.arrow {
  padding: 20px 20px 10px;
  cursor: pointer;
}

.previous-arrow,
.next-arrow {
  height: 1.5rem;
  width: 1.5rem;
  filter: invert(77%) sepia(16%) saturate(1485%) hue-rotate(170deg) brightness(100%) contrast(104%);
}

.next-arrow {
  transform: rotate(180deg);
}

.calendar-header {
  display: flex;
  justify-content: space-evenly;
  padding: 0 3rem;
  font-size: 1.1rem;
}

.calendar-month-year {
  color: #7bd6ff;
  font-weight: bold;
  position: relative;
  top: 22px;
  align-items: center;
}

.calendar-body {
  margin-top: 5%;
  font-size: 1rem;
  align-items: center;
  display: inline-block;
}

td,
th {
  padding: 1.6vw 4vw;
  color: #7bd6ff;
}

.inactiveArrow {
  opacity: 0.4;
}

.inactive {
  padding: 0.5rem 1rem;
  opacity: 0.4;
  width: 2em;
  height: 2em;
  margin: 0;
}

.active {
  padding: 0.5rem 1rem;
  opacity: 1;
  cursor: pointer;
  width: 2em;
  height: 2em;
}

.selected {
  color: #1f2459;
  background-color: #7bd6ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  margin-left: 0.55em;
  margin-top: 0.35em;
}

.disappear {
  opacity: 0;
}

.appear {
  opacity: 1;
  -webkit-transition: 1.2s ease-in-out;
  -moz-transition: 1.2s ease-in-out;
  -o-transition: 1.2s ease-in-out;
  transition: 1.2s ease-in-out;
}

.upper-time-slots,
.middle-time-slots,
.lower-time-slots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 10vw;
}

.time-slot-header {
  color: #7bd6ff;
  font-weight: bold;
  margin: 10vw 0 5vw 10vw;
  text-align: start;
}

.time-slot {
  flex: 0 0 3.1rem;
  margin: 0.3rem;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 0.3rem;
  width: 5.75rem;
  height: 2.375rem;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

.time-slot-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.selected-time-slot {
  background-color: #7bd6ff;
  color: #1f2459;
}

@media screen and (max-width: 280px) {
  .inactive {
    padding: 0.3rem 0.5rem;
  }

  .active {
    padding: 0.3rem 0.5rem;
  }

}

@media screen and (min-width: 700px) {
  .selected {
    margin-left: 0.55em;
    margin-top: 0.35em;
  }

  .calendar-header {
    padding: 0 10rem;
  }
}

@media screen and (min-width: 900px) {
  .selected {
    margin-left: 1.3em;
    margin-top: 0.35em;
  }
}


@media screen and (min-width: 1050px) {

  .previous-arrow,
  .next-arrow {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(90%) sepia(13%) saturate(377%) hue-rotate(163deg) brightness(99%) contrast(94%) !important;
  }

  .selected {
    margin-left: 2.3em;
    margin-top: 0.45em;
  }

  .calendar-header {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .selected {
    margin-left: 2.7em;
    margin-top: 0.45em;
  }

}
