.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product {
  border: 1px solid lightgray;
  text-align: center;
  padding: 10px;
}

.product img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 10px;
  transition: 0.5s;
}

.product:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}

.name {
  height: 50px;
}