<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="noListNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavAltMarkup"
      mdbCollapse
      #noListNav="mdbCollapse"
    >
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/">Avaleht</a>
        <a class="nav-link" routerLink="/lisa-toode">Lisa toode</a>
        <a class="nav-link" routerLink="/halda-tooteid">Halda tooteid</a>
        <a class="nav-link" routerLink="/ostukorv">Ostukorv</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- FOOTER -->